<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 指定页面显示的图标 -->
    <link rel="icon" href="../../static/icon/tpcs.ico">
    <title>实训过程</title>

    <!-- Bootstrap -->
    <link href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- BootStrap Theme css -->
    <link href="../../static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- 此案例的自定义样式 -->
    <link href="../../static/css-prj/main.css" rel="stylesheet">
    <!-- 导入外部的js文件 -->
    <script type="text/javascript" src="../../static/js-prj/main.js"></script>

    <!-- 导入相关的js -->
    <script src="../../static/node_modules/jquery/jquery.min.js"></script>
    <script src="../../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../../static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="../../static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body>
<!-- 模态框 中的内容 -->
<!-- 新增或更新学员评价记录的 Modal -->
<div class="modal fade" id="addOrUpdCommentModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myEditModalLabel">添加学员评价</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="#">
                    <div class="form-group">
                        <label for="stuname" class="col-md-2 control-label">学生名</label>
                        <div class="col-md-5">
                            <input type="text" id="stuname" class="form-control" placeholder="要保存是存在的学员"/>
                        </div>
                        <div class="col-md-5" id="stuname_id">提示信息</div>
                    </div>
                    <div class="form-group">
                        <label for="beginTime" class="col-md-2 control-label">评价日期</label>
                        <div class="col-md-5">
                            <input type="date" id="beginTime" class="form-control" placeholder="2015-01-27"/>
                        </div>
                        <div class="col-md-5" id="beginTime_id"></div>
                    </div>

                    <div class="form-group">
                        <label for="teacher" class="col-md-2 control-label">评价老师</label>
                        <div class="col-md-5">
                            <input type="text" id="teacher" class="form-control" value="当前登录人"/>
                        </div>
                        <div class="col-md-5" id="teacher_id"></div>
                    </div>
                    <div class="form-group">
                        <label for="technology_comment" class="col-md-2 control-label">技术能力</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="4" id="technology_comment" placeholder="写点什么吧"></textarea>
                        </div>
                        <label for="technology_level" class="col-md-1 control-label">级别</label>
                        <div class="col-md-3">
                            <select class="form-control" id="technology_level">
                                <option value="-1">-请选择-</option>
                                <option value="SENIOR">高级</option>
                                <option value="MIDDLE">中级</option>
                                <option value="JUNIOR">低级</option>
                            </select>
                        </div>
                    </div>

                    <!-- 表达能力 -->
                    <div class="form-group">
                        <label for="talk_comment" class="col-md-2 control-label">表达能力</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="4" id="talk_comment" placeholder="写点什么吧"></textarea>
                        </div>
                        <label for="talk_level" class="col-md-1 control-label">级别</label>
                        <div class="col-md-3">
                            <select class="form-control" id="talk_level">
                                <option value="-1">-请选择-</option>
                                <option value="SENIOR">高级</option>
                                <option value="MIDDLE">中级</option>
                                <option value="JUNIOR">低级</option>
                            </select>
                        </div>
                    </div>
                    <!-- -->
                    <div class="form-group">
                        <label for="attitude_comment" class="col-md-2 control-label">学习态度</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="4" id="attitude_comment" placeholder="写点什么吧"></textarea>
                        </div>
                        <label for="attitude_level" class="col-md-1 control-label">级别</label>
                        <div class="col-md-3">
                            <select class="form-control" id="attitude_level">
                                <option value="-1">-请选择-</option>
                                <option value="SENIOR">高级</option>
                                <option value="MIDDLE">中级</option>
                                <option value="JUNIOR">低级</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn1" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn2" class="btn btn-primary" onclick="通过JS来提交表单">保存</button>
                <button type="button" id="btn3" class="btn btn-primary" onclick="通过JS来提交表单">保存并再次新增</button>
            </div>
        </div>
    </div>
</div>
<!-- //模态框内容结束 -->

<!-- 查看学员评价记录的 Modal -->
<div class="modal fade" id="seeCommentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="commentModalLabel">各阶段老师评价</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <!--　第一阶段: 每个阶段可以通过　迭代来实现 -->
                    <li class="list-group-item">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-2">所处阶段</div>
                            <div class="col-md-2"><span class="label label-info">第一阶段</span></div>
                            <div class="col-md-2">评价讲师</div>
                            <div class="col-md-2"><span class="label label-info">孙毅</span></div>
                            <div class="col-md-2">评价日期</div>
                            <div class="col-md-2"><span class="label label-info">2015-3-20</span></div>
                        </div>
                        <!-- 利用table 来呈现评价 -->
                        <table class="table">
                            <tr class="bg-info">
                                <th>#</th>
                                <th>描述</th>
                                <th>等级</th>
                            </tr>
                            <!-- 数据 -->
                            <tr>
                                <td>技术水平</td>
                                <td>基础掌握较好，编程流畅，有好的思路，作业完成较好</td>
                                <td><span class="label label-success">高</span></td>
                            </tr>
                            <tr>
                                <td>沟通表达</td>
                                <td>表达能力一般，性格有点内向，不擅于言谈</td>
                                <td><span class="label label-danger">低</span></td>
                            </tr>
                            <tr>
                                <td>学习态度</td>
                                <td>学习认真，有钻研精神，从不做学习无关的事情</td>
                                <td><span class="label label-warning">中</span></td>
                            </tr>
                        </table>
                    </li>
                    <!--　第二阶段 -->
                    <li class="list-group-item">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-2">所处阶段</div>
                            <div class="col-md-2"><span class="label label-info">第二阶段</span></div>
                            <div class="col-md-2">评价讲师</div>
                            <div class="col-md-2"><span class="label label-info">管成功</span></div>
                            <div class="col-md-2">评价日期</div>
                            <div class="col-md-2"><span class="label label-info">2015-4-12</span></div>
                        </div>
                        <!-- 利用table 来呈现评价 -->
                        <table class="table">
                            <tr class="bg-info">
                                <th>#</th>
                                <th>描述</th>
                                <th>等级</th>
                            </tr>
                            <!-- 数据 -->
                            <tr>
                                <td>技术水平</td>
                                <td>基础掌握较好，编程流畅，有好的思路，作业完成较好</td>
                                <td><span class="label label-success">高</span></td>
                            </tr>
                            <tr>
                                <td>沟通表达</td>
                                <td>表达能力一般，性格有点内向，不擅于言谈</td>
                                <td><span class="label label-danger">低</span></td>
                            </tr>
                            <tr>
                                <td>学习态度</td>
                                <td>学习认真，有钻研精神，从不做学习无关的事情</td>
                                <td><span class="label label-warning">中</span></td>
                            </tr>
                        </table>
                    </li>
                    <!--　第三阶段 -->
                    <li class="list-group-item">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-2">所处阶段</div>
                            <div class="col-md-2"><span class="label label-info">第三阶段</span></div>
                            <div class="col-md-2">评价讲师</div>
                            <div class="col-md-2"><span class="label label-info">武广东</span></div>
                            <div class="col-md-2">评价日期</div>
                            <div class="col-md-2"><span class="label label-info">2015-4-28</span></div>
                        </div>
                        <!-- 利用table 来呈现评价 -->
                        <table class="table">
                            <tr class="bg-info">
                                <th>#</th>
                                <th>描述</th>
                                <th>等级</th>
                            </tr>
                            <!-- 数据 -->
                            <tr>
                                <td>技术水平</td>
                                <td>基础掌握较好，编程流畅，有好的思路，作业完成较好</td>
                                <td><span class="label label-success">高</span></td>
                            </tr>
                            <tr>
                                <td>沟通表达</td>
                                <td>表达能力一般，性格有点内向，不擅于言谈</td>
                                <td><span class="label label-danger">低</span></td>
                            </tr>
                            <tr>
                                <td>学习态度</td>
                                <td>学习认真，有钻研精神，从不做学习无关的事情</td>
                                <td><span class="label label-warning">中</span></td>
                            </tr>
                        </table>
                    </li>
                    <!--　第四阶段 -->
                    <li class="list-group-item">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-2">所处阶段</div>
                            <div class="col-md-2"><span class="label label-info">第四阶段</span></div>
                            <div class="col-md-2">评价讲师</div>
                            <div class="col-md-2"><span class="label label-info">胡荆陵</span></div>
                            <div class="col-md-2">评价日期</div>
                            <div class="col-md-2"><span class="label label-info">2015-5-30</span></div>
                        </div>
                        <!-- 利用table 来呈现评价 -->
                        <table class="table">
                            <tr class="bg-info">
                                <th>#</th>
                                <th>描述</th>
                                <th>等级</th>
                            </tr>
                            <!-- 数据 -->
                            <tr>
                                <td>技术水平</td>
                                <td>基础掌握较好，编程流畅，有好的思路，作业完成较好</td>
                                <td><span class="label label-success">高</span></td>
                            </tr>
                            <tr>
                                <td>沟通表达</td>
                                <td>表达能力一般，性格有点内向，不擅于言谈</td>
                                <td><span class="label label-danger">低</span></td>
                            </tr>
                            <tr>
                                <td>学习态度</td>
                                <td>学习认真，有钻研精神，从不做学习无关的事情</td>
                                <td><span class="label label-warning">中</span></td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //模态框内容结束 -->

<div class="container">
    <!-- 由于导航用了navbar-fixed-top,所以，先与上面定义一个间隔  -->
    <div class="gap"></div>

    <ol class="breadcrumb">
        <li class="active">首页</li>
        <li class="active">实训过程</li>
        <li class="active">学员评价</li>
    </ol>

    <!-- 其它内容 -->
    <div class="row">
        <div class="col-md-2" style="text-align: center;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <!-- List group -->
                <ul class="list-group">
                    <!-- 当前在哪个页面，哪个项就添加 select 样式 -->
                    <li class="list-group-item"><a href="ask_for_leave.html" th:href="@{/training/ask_for_leave}">请假</a></li>
                    <li class="list-group-item"><a href="undisciplined.html" th:href="@{/training/undisciplined}">违纪</a></li>
                    <li class="list-group-item"><a href="migrate_class.html" th:href="@{/training/migrate_class}">转班</a></li>
                    <li class="list-group-item"><a href="drop_out.html" th:href="@{/training/drop_out}">退学</a></li>
                    <li class="list-group-item list-group-item-success"></li>
                    <li class="list-group-item"><a href="talk_to_student.html" th:href="@{/training/talk_to_student}">学员访谈</a></li>
                    <li class="list-group-item select"><span class="glyphicon glyphicon-hand-right">&nbsp;</span><a href="comment_student.html" th:href="@{/training/comment_student}">学员评价</a></li>
                    <li class="list-group-item"><a href="make_up_lesson.html" th:href="@{/training/make_up_lesson}">学员补课</a></li>
                    <li class="list-group-item list-group-item-success"></li>
                    <li class="list-group-item"><a href="simulate_interview.html" th:href="@{/training/simulate_interview}">模拟面试</a></li>
                    <li class="list-group-item"><a href="start_career.html" th:href="@{/training/start_career}">学员就业</a></li>
                </ul>
            </div>
        </div> <!-- end of 左边列 -->

        <div class="col-md-10" style="background-color: #ffffff;">
            <!-- 查询区 -->
            <form class="form-horizontal" role="form" action="#">
                <div class="form-group">
                    <label for="cname" class="col-md-2 control-label">班级：</label>

                    <div class="col-md-3">
                        <!-- 输入框，用　GOOGLE式提示 -->
                        <input type="text" id="cname" class="form-control" placeholder="查询班级名"/>
                    </div>
                    <label for="sname" class="col-md-2 control-label">姓名：</label>

                    <div class="col-md-3">
                        <input type="text" id="sname" class="form-control" placeholder="学员名"/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
            <hr/>

            <!-- 内容区 -->
            <div class="row">
                <div class="col-md-1">
                    <a href="#" class="label label-info" data-toggle="modal" data-target="#addOrUpdCommentModal" data-whatever="新增">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>学校</th>
                            <th>专业</th>
                            <th>学历</th>
                            <th>电话</th>
                            <th>查看评价</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><span class="label label-info">孙维维</span></td>
                            <td>苏州大学</td>
                            <td>计算机科学与技术</td>
                            <td><span class="label label-info">本科</span></td>
                            <td><span class="label label-info">15890876512</span></td>
                            <td><a href="#" class="label label-primary" data-toggle="modal" data-target="#seeCommentModal"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td>
                                <a href="#" class="label label-default" data-toggle="modal" data-target="#addOrUpdCommentModal"  data-whatever="更新"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                <a class="label label-danger" onclick="delComment(1)"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="label label-info">陈冲</span></td>
                            <td>南京大学</td>
                            <td>机电一体化</td>
                            <td><span class="label label-info">本科</span></td>
                            <td><span class="label label-info">15890876512</span></td>
                            <td><a href="#" class="label label-primary" data-toggle="modal" data-target="#seeCommentModal"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td>
                                <a href="#" class="label label-default" data-toggle="modal" data-target="#addOrUpdTalkModal"  data-whatever="更新"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                <a class="label label-danger" onclick="delComment(1)"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!-- end of 右边列 -->
    </div><!-- end row -->

</div><!-- end container -->
</body>
<!-- 本地Script，为了使得添加与更新同享同一个Modal框 -->

<script src="../../static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="../../static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- Sweet alert -->
<script src="../../static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#addOrUpdCommentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // 触发Modal框的按钮
            var content = button.data('whatever'); // 提取来自于 data-*的属性，　此处我使用了 data-whatever
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-title').text(content+'学员评价');
            //修改按钮文字
            $('#btn2').text(content);
            //如果是更新的话，需要把表单中的所有元素添加上value的值
            if(content == '更新'){
                //通过AJAX把当前选中id的请假记录值给取出来，并依次赋值input元素的value
                // ajax code ...
                //下面的代码是我利用固定值填充的
                //...

                //禁用 保存并再添加按钮
                $('#btn3').attr('disabled','true');
            }else if(content == '新增'){
                //移除原来的禁用属性
                $('#btn3').removeAttr('disabled');
                //之前的设置的元素值可以考虑清除掉
                //...
            }
        });
        $.post("test/commentList.json", function (commentList) {
            console.log(commentList);
            var count=0;
        $('.table-hover').dataTable({
            //注： 后面开发时，url的位置写 服务端控制器的 mapping值,服务端返回的将是json数据
            "data": commentList,
            //行的定义
            "columns": [
                // {"data": "namePhone",bAutoWidth: "false", sWidth: "20%"},
                {"data": null,"render":function(data,type,row){
                        return ++count;
                    }},
                {"data": "name" ,"render":function(data,type,row){
                        var html = "<span class='label label-info'>"+data+"</span>"
                        return html;
                    }},
                {"data": "school" },
                {"data": "profession" },
                {"data": "Education","render":function(data,type,row){
                        var html = "<span class='label label-info'>"+data+"</span>"
                        return html;
                    }},
                {"data": "phone","render":function(data,type,row){
                        var html = "<span class='label label-info'>"+data+"</span>"
                        return html;
                    }},
                {"data": "appraise" ,"render":function(data,type,row){
                        var id = row.id
                        var html = "<a href='#' class='label label-primary' data-toggle='modal' data-target='#seeCommentModal'><span class='glyphicon glyphicon-eye-open'></span></a>"
                        return html;
                    }},
                {
                    "data": null, "orderable": false, "render": function (data, type, row) {
                        var id = row.id
                        var html = "<a href='#' class='label label-default' data-toggle='modal' data-target='#addOrUpdTalkModal'  data-whatever='更新'><span class='glyphicon glyphicon-edit'></span></a>&nbsp;"
                        html += "<a class='label label-danger' onclick='delClass(1)'><span class='glyphicon glyphicon-trash'></span></a>&nbsp"
                        return html;
                    }
                }],
            //去掉搜索
            "bSort": false,
            searching: false,
            "bPaginage": true,
            "bAutoWidth": true,
            lengthChange: false,
            ordering:true,
            columnDefs: [{
                targets: 4,//编辑取消排序
                "orderable": false
            }],
            iDisplayLength:7,
            lengthMenu :[ 7, 25, 50, 75, 100 ],//定义每页显示记录数，可更改每页显示行数
            language: {
                "decimal": "",//小数的小数位符号  比如“，”作为数字的小数位符号
                "emptyTable": "没有数据哟~~",//没有数据时要显示的字符串
                "info": "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",//左下角的信息，变量可以自定义，到官网详细查看
                /*  "infoEmpty": "无记录",//当没有数据时，左下角的信息*/
                "infoFiltered": "(从 _MAX_ 条记录过滤)",//当表格过滤的时候，将此字符串附加到主要信息
                "infoPostFix": "",//在摘要信息后继续追加的字符串
                "thousands": ",",//千分位分隔符
                "lengthMenu": "每页 _MENU_ 条记录",//用来描述分页长度选项的字符串
                "loadingRecords": "加载中...",//用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
                "processing": "处理中...",//用来描述加载进度的字符串
                "search": "搜索",//用来描述搜索输入框的字符串
                "zeroRecords": "没有找到",//当没有搜索到结果时，显示
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
        });
    });
</script>

</html>
